 canvas {
    
    border-radius: 20px;
    margin-top: 10px;
  } 
 
.card-panel {
  border-radius: 20px;
} 
.btn {
  border-radius: 10px;
}

#panel {
  border-radius: 20px;
}  

#refresh {
  margin: 10px 10px;
}
#Estado {
  margin-top: 400px;
}

#inputTono {
  margin-top: 20px;
}

#inputGrado {
  margin-top: 20px;
}

#inputModo {
  margin-top: 20px;
}
#btninfo {
  margin-top: 5px;

}

img {
  position: relative;
  border-radius: 10px;
  align-content: left;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 4px;
}
